 .jumbotron {
	background-color: purple;
		color: white;
}

 body {
	background-image: url("images/trainImage3.jpg");
	color: white;
}
 #wrap {
	 background-color: white;
	 color: black;
	 padding: 25px;
 }


